In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
pd.set_option('max_columns', None)
warnings.filterwarnings('ignore')

In [2]:
games = pd.read_csv('./data/games.csv')
games_details = pd.read_csv('./data/games_details.csv')
players = pd.read_csv('./data/players.csv')
teams = pd.read_csv('./data/teams.csv')
ranking = pd.read_csv('./data/ranking.csv')

In [3]:
games.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2021-05-26,42000102,Final,1610612755,1610612764,2020,1610612755,120.0,0.557,0.684,0.429,26.0,45.0,1610612764,95.0,0.402,0.633,0.091,22.0,40.0,1
1,2021-05-26,42000132,Final,1610612752,1610612737,2020,1610612752,101.0,0.383,0.739,0.364,15.0,54.0,1610612737,92.0,0.369,0.818,0.273,17.0,41.0,1
2,2021-05-26,42000142,Final,1610612762,1610612763,2020,1610612762,141.0,0.544,0.774,0.487,28.0,42.0,1610612763,129.0,0.541,0.763,0.348,20.0,33.0,1
3,2021-05-25,42000112,Final,1610612751,1610612738,2020,1610612751,130.0,0.523,0.955,0.447,31.0,46.0,1610612738,108.0,0.424,0.783,0.353,23.0,43.0,1
4,2021-05-25,42000152,Final,1610612756,1610612747,2020,1610612756,102.0,0.465,0.933,0.308,21.0,31.0,1610612747,109.0,0.450,0.871,0.303,24.0,39.0,0

In [4]:
games_details.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,42000102,1610612764,WAS,Washington,203078,Bradley Beal,F,NaN,34:36,14.0,28.0,0.500,1.0,6.0,0.167,4.0,6.0,0.667,0.0,4.0,4.0,3.0,1.0,0.0,1.0,0.0,33.0,-22.0
1,42000102,1610612764,WAS,Washington,1629060,Rui Hachimura,F,NaN,25:50,4.0,6.0,0.667,1.0,1.0,1.000,2.0,3.0,0.667,2.0,5.0,7.0,1.0,0.0,0.0,3.0,4.0,11.0,-6.0
2,42000102,1610612764,WAS,Washington,203458,Alex Len,C,NaN,12:11,3.0,5.0,0.600,0.0,0.0,0.000,0.0,0.0,0.000,3.0,2.0,5.0,0.0,1.0,0.0,0.0,2.0,6.0,-11.0
3,42000102,1610612764,WAS,Washington,203526,Raul Neto,G,NaN,19:19,2.0,5.0,0.400,0.0,2.0,0.000,0.0,0.0,0.000,1.0,2.0,3.0,1.0,0.0,0.0,0.0,2.0,4.0,-17.0
4,42000102,1610612764,WAS,Washington,201566,Russell Westbrook,G,NaN,29:07,2.0,10.0,0.200,0.0,3.0,0.000,6.0,10.0,0.600,2.0,4.0,6.0,11.0,0.0,0.0,4.0,0.0,10.0,-16.0

In [5]:
df = pd.merge(games,games_details, on='GAME_ID', how='inner')

In [6]:
df = df.drop('COMMENT',axis=1)

In [7]:
def fill_na_cat(dataset, columns):
    for column in columns:
        value_for_swap = dataset[column].describe().top
        dataset[column] = dataset[column].fillna(value_for_swap)
    return pd.DataFrame(dataset)
        

def fill_na_num(dataset, columns):
    for column in columns:
        value_for_swap = 0
        dataset[column] = dataset[column].fillna(value_for_swap)
    return pd.DataFrame(dataset)

numerics = df.select_dtypes(np.number)
cats = df.select_dtypes(object)


num_cols = list(numerics.columns)
cat_cols = list(cats.columns)

In [8]:
numerics = fill_na_num(numerics, num_cols)

df = pd.concat([cats, numerics], axis=1)

In [9]:
df['MIN'] = df['MIN'].fillna(0)

In [10]:
df['START_POSITION'] = df['START_POSITION'].fillna('G')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 617392 entries, 0 to 617391
Data columns (total 47 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_DATE_EST      617392 non-null  object
 1   GAME_STATUS_TEXT   617392 non-null  object
 2   TEAM_ABBREVIATION  617392 non-null  object
 3   TEAM_CITY          617392 non-null  object
 4   PLAYER_NAME        617392 non-null  object
 5   START_POSITION     617392 non-null  object
 6   MIN                617392 non-null  object
 7   GAME_ID            617392 non-null  int64
 8   HOME_TEAM_ID       617392 non-null  int64
 9   VISITOR_TEAM_ID    617392 non-null  int64
 10  SEASON             617392 non-null  int64
 11  TEAM_ID_home       617392 non-null  int64
 12  PTS_home           617392 non-null  float64
 13  FG_PCT_home        617392 non-null  float64
 14  FT_PCT_home        617392 non-null  float64
 15  FG3_PCT_home       617392 non-null  float64
 16  AST_home           617392 non-null  float64
 17  REB_home           617392 non-null  float64
 18  TEAM_ID_away       617392 non-null  int64
 19  PTS_away           617392 non-null  float64
 20  FG_PCT_away        617392 non-null  float64
 21  FT_PCT_away        617392 non-null  float64
 22  FG3_PCT_away       617392 non-null  float64
 23  AST_away           617392 non-null  float64
 24  REB_away           617392 non-null  float64
 25  HOME_TEAM_WINS     617392 non-null  int64
 26  TEAM_ID            617392 non-null  int64
 27  PLAYER_ID          617392 non-null  int64
 28  FGM                617392 non-null  float64
 29  FGA                617392 non-null  float64
 30  FG_PCT             617392 non-null  float64
 31  FG3M               617392 non-null  float64
 32  FG3A               617392 non-null  float64
 33  FG3_PCT            617392 non-null  float64
 34  FTM                617392 non-null  float64
 35  FTA                617392 non-null  float64
 36  FT_PCT             617392 non-null  float64
 37  OREB               617392 non-null  float64
 38  DREB               617392 non-null  float64
 39  REB                617392 non-null  float64
 40  AST                617392 non-null  float64
 41  STL                617392 non-null  float64
 42  BLK                617392 non-null  float64
 43  TO                 617392 non-null  float64
 44  PF                 617392 non-null  float64
 45  PTS                617392 non-null  float64
 46  PLUS_MINUS         617392 non-null  float64
dtypes: float64(31), int64(9), object(7)
memory usage: 226.1+ MB

In [12]:
testcol = df.groupby(['PLAYER_ID', 'SEASON'])['PTS'].shift(1).rolling(5, min_periods=1).mean()

In [13]:
testcol

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
617387    3.8
617388    3.0
617389    1.4
617390    1.4
617391    0.0
Name: PTS, Length: 617392, dtype: float64